<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header-bootstrap-config"/>
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE"/>
    <!--<th:block th:replace="fragments/header :: csrf" />-->

    <link rel="stylesheet" th:href="@{/css/left_menu.css}" type="text/css" href="../../static/css/left_menu.css"/>

    <style>
        #navigator {
            margin-bottom: 15px;
        }

        #orders {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>

<div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <h1 style="text-align:center"> Route </h1>
                <div class="row">
                    <div class="col-md-6 col-xs-12" id="orders">
                        <div class="row" id="navigator">
                            <div class="col-md-1 col-md-offset-1 col-xs-2">
                                <a href="#">&lt;&lt;</a>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <p class="text-center" id="order-number">Order 2/6</p>
                            </div>
                            <div class="col-md-1 col-md-offset-1 col-xs-2">
                                <a href="#">&gt;&gt;</a>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Address</label>
                            <div class="form-control" id="address">Ioanna Pavla St.,4/6</div>
                        </div>
                        <div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Contact</label>
                                <div class="form-control" id="contact">John Doe</div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Phone</label>
                                <div class="form-control" id="phone">(+380)901234567</div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Order ID</label>
                                <div class="form-control" id="order-id">1</div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Order Type</label>
                                <div class="form-control" id="order-type">Documents</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="pull-left">
                                <button class="btn btn-lg btn-success">Confirm</button>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-lg btn-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" id="map">
                        <img src="./staticmap.png" width="100%" height="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/left_menu :: left-menu-footer"/>

<script>
    document.getElementById('courier_route').className = 'active';

    // var csrfHeader = document.getElementsByName('_csrf_header')[0].getAttribute('content');
    // var csrfToken = document.getElementsByName('_csrf')[0].getAttribute('content');

    var route = {
        mapUrl: null,
        wayPoints: []
    };

    var data = {
        method: 'GET',
        mode: 'same-origin',
        credentials: 'same-origin'
    };

    function setOrderPage(orderNum) {
        let orderCount = route.wayPoints.length;
        let order = route.wayPoints[orderNum].order;

        document.getElementById("order-number").textContent = `Order: ${orderNum}/${orderCount}`;
        document.getElementById("address").textContent = order.address.name;
        document.getElementById("contact").textContent = `${order.contact.firstName} + ${order.contact.lastName}`;
        document.getElementById("phone").textContent = order.contact.phoneNumber;
        document.getElementById("order-id").textContent = order.id;
        document.getElementById("order-type").textContent = order.orderType.name;
    }

    fetch('/courier/route/orders', data)
        .then(res => res.json())
        .then(data => {
            route = data;
            if (!route.orders) return;
            if (route.wayPoints.length > 0)
                setOrderPage(1);
        });

    function confirmOrder(orderId) {
        fetch(`/courier/route/orders/${orderId}/confirm`)
            .then(res => {
                if (res.status === 200) {

                } else {

                }
            })
    }
</script>

</body>
</html>