<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header-bootstrap-config"/>
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE"/>
    <!--<th:block th:replace="fragments/header :: csrf" />-->

    <link rel="stylesheet" th:href="@{/css/left_menu.css}" type="text/css" href="../../static/css/left_menu.css"/>
    <link rel="stylesheet" th:href="@{/css/main_content.css}" type="text/css" href="../../static/css/main_content.css"/>

    <style>
        #navigator {
            margin-bottom: 15px;
        }

        #orders {
            margin-bottom: 15px;
        }

        .non-visible {
            visibility: hidden;
        }

        .end-page {
            color: inherit;
            cursor: default;
        }

        .end-page:hover, .end-page:focus {
            text-decoration: none;
        }
    </style>
</head>
<body class="body-color">

<div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <h1 style="text-align:center"> Route </h1>
                <div class="row">
                    <div class="col-md-6 col-xs-12" id="orders">
                        <div class="row" id="navigator">
                            <div class="col-md-1 col-md-offset-1 col-xs-2 non-visible">
                                <a id="prev-order" href="#">&lt;&lt;</a>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <p class="text-center" id="order-number">No orders for now!</p>
                            </div>
                            <div class="col-md-1 col-xs-2 non-visible">
                                <a id="next-order" href="#">&gt;&gt;</a>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Address</label>
                            <div class="form-control" id="address"></div>
                        </div>
                        <div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Contact</label>
                                <div class="form-control" id="contact"></div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Phone</label>
                                <div class="form-control" id="phone"></div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Order ID</label>
                                <div class="form-control" id="order-id"></div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Order Type</label>
                                <div class="form-control" id="order-type"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="pull-left">
                                <button id="btn-confirm" class="btn btn-lg btn-success">Confirm</button>
                            </div>
                            <div class="pull-right">
                                <button id="btn-cancel" class="btn btn-lg btn-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <img id="map" th:src="@{/images/mapplaceholder.png}" src="../../static/images/mapplaceholder.png" width="100%" height="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/left_menu :: left-menu-footer"/>

<script th:inline="javascript">
    /*<![CDATA[*/
    var APP = {
        route: {
            mapUrl: null,
            wayPoints: []
        },
        currentOrder: null
    };

    function nextPage() {
        setOrderPage(APP.currentOrder + 1);
    }

    function prevPage() {
        setOrderPage(APP.currentOrder - 1);
    }

    function titleCase(str) {
        str = str.toLowerCase().split(' ');
        for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
        }
        return str.join(' ');
    }

    function setOrderPage(orderNum) {
        var orderCount = APP.route.wayPoints.length;
        if (orderNum >= orderCount || orderNum < 0) {
            return;
        }
        var order = APP.route.wayPoints[orderNum].order;
        var status = APP.route.wayPoints[orderNum].status;
        var pageNum = orderNum + 1;

        var orderNumberEl = document.getElementById("order-number");
        if (status === "DELIVERING") {
            orderNumberEl.textContent = "Order " + pageNum + "/" + orderCount;
            document.getElementById('btn-confirm').removeAttribute("disabled");
            document.getElementById('btn-cancel').removeAttribute("disabled");
        } else {
            orderNumberEl.textContent = "Order " + pageNum + "/" + orderCount + " (" + titleCase(status) + ")";
            document.getElementById('btn-confirm').setAttribute("disabled", "disabled");
            document.getElementById('btn-cancel').setAttribute("disabled", "disabled");
        }

        var prevPageEl = orderNumberEl.parentElement.previousElementSibling;
        prevPageEl.classList.remove("non-visible");
        if (orderNum === 0) {
            prevPageEl.firstElementChild.classList.add("end-page");
        } else {
            prevPageEl.firstElementChild.classList.remove("end-page");
        }

        var nextPageEl = orderNumberEl.parentElement.nextElementSibling;
        nextPageEl.classList.remove("non-visible");
        if (orderNum === orderCount - 1) {
            nextPageEl.firstElementChild.classList.add("end-page");
        } else {
            nextPageEl.firstElementChild.classList.remove("end-page");
        }

        document.getElementById("address").textContent = order.receiverAddress.name;
        document.getElementById("contact").textContent = order.receiverContact.firstName + " " + order.receiverContact.lastName;
        document.getElementById("phone").textContent = order.receiverContact.phoneNumber;
        document.getElementById("order-id").textContent = order.id;
        document.getElementById("order-type").textContent = order.orderType;

        document.getElementById("map").setAttribute("src", APP.route.mapUrl);

        APP.currentOrder = orderNum;
    }

    function confirmOrder() {
        var orderId = APP.route.wayPoints[APP.currentOrder].order.id;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/courier/route/orders/" + orderId + "/confirm");
        xhr.onreadystatechange = function () {
            if (xhr.readyState !== XMLHttpRequest.DONE) return;
            if (xhr.status === 200) {
                APP.route.wayPoints[APP.currentOrder].status = "DELIVERED";
                var routeCompleted = APP.route.wayPoints.every(function (point) {
                    return point.status !== "DELIVERING";
                });
                if (routeCompleted) {
                    setEmptyPage();
                } else {
                    setOrderPage(APP.currentOrder);
                }
            }
        };
        xhr.send();
    }

    function cancelOrder() {
        var orderId = APP.route.wayPoints[APP.currentOrder].order.id;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/courier/route/orders/" + orderId + "/fail");
        xhr.onreadystatechange = function () {
            if (xhr.readyState !== XMLHttpRequest.DONE) return;
            if (xhr.status === 200) {
                APP.wayPoints[APP.currentOrder].status = "CANCELLED";
                var routeCompleted = APP.route.wayPoints.every(function (point) {
                    return point.status !== "DELIVERING";
                });
                if (routeCompleted) {
                    setEmptyPage();
                } else {
                    setOrderPage(APP.currentOrder);
                }
            }
        };
        xhr.send();
    }

    document.getElementById('courier_route').className = 'active';
    document.getElementById('prev-order').addEventListener('click', function (ev) {
        ev.preventDefault();
        prevPage();
    });
    document.getElementById('next-order').addEventListener('click', function (ev) {
        ev.preventDefault();
        nextPage();
    });
    document.getElementById('btn-confirm').addEventListener('click', confirmOrder);
    document.getElementById('btn-cancel').addEventListener('click', cancelOrder);

    function setEmptyPage() {
        document.getElementById("order-number").textContent = "No orders for now!";
        document.getElementById("address").textContent = "";
        document.getElementById("contact").textContent = "";
        document.getElementById("phone").textContent = "";
        document.getElementById("order-id").textContent = "";
        document.getElementById("order-type").textContent = "";

        document.getElementById('btn-confirm').setAttribute("disabled", "disabled");
        document.getElementById('btn-cancel').setAttribute("disabled", "disabled");

        document.getElementById('prev-order').style.display = "none";
        document.getElementById('next-order').style.display = "none";

        document.getElementById('map').src = "/images/mapplaceholder.png";
    }

    function getRoute() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/courier/route/orders");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                APP.route = JSON.parse(xhr.responseText);
                if (APP.route.wayPoints.length > 0) {
                    document.getElementById('prev-order').style.display = "";
                    document.getElementById('next-order').style.display = "";
                    var routeCompleted = APP.route.wayPoints.every(function (point) {
                        return point.status !== "DELIVERING";
                    });
                    if (routeCompleted) {
                        setEmptyPage();
                    } else {
                        setOrderPage(0);
                    }
                } else {
                    setEmptyPage();
                }
            }
        };
        xhr.send();
    }

    getRoute();
    connect({
        'route': function () {
            getRoute();
        }
    });
    /*]]>*/
</script>

</body>
</html>