<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header-bootstrap-config"/>
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE"/>
    <!--<th:block th:replace="fragments/header :: csrf" />-->

    <link rel="stylesheet" th:href="@{/css/left_menu.css}" type="text/css" href="../../static/css/left_menu.css"/>

    <style>
        #navigator {
            margin-bottom: 15px;
        }

        #orders {
            margin-bottom: 15px;
        }

        .non-visible {
            visibility: hidden;
        }

        .end-page {
            color: inherit;
            cursor: default;
        }

        .end-page:hover, .end-page:focus {
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <h1 style="text-align:center"> Route </h1>
                <div class="row">
                    <div class="col-md-6 col-xs-12" id="orders">
                        <div class="row" id="navigator">
                            <div class="col-md-1 col-md-offset-1 col-xs-2 non-visible">
                                <a id="prev-order" href="#">&lt;&lt;</a>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <p class="text-center" id="order-number">No orders for now!</p>
                            </div>
                            <div class="col-md-1 col-xs-2 non-visible">
                                <a id="next-order" href="#">&gt;&gt;</a>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Address</label>
                            <div class="form-control" id="address"></div>
                        </div>
                        <div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Contact</label>
                                <div class="form-control" id="contact"></div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Phone</label>
                                <div class="form-control" id="phone"></div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Order ID</label>
                                <div class="form-control" id="order-id"></div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">Order Type</label>
                                <div class="form-control" id="order-type"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="pull-left">
                                <button id="btn-confirm" class="btn btn-lg btn-success">Confirm</button>
                            </div>
                            <div class="pull-right">
                                <button id="btn-cancel" class="btn btn-lg btn-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" id="map">
                        <img src="./staticmap.png" width="100%" height="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/left_menu :: left-menu-footer"/>

<script th:inline="javascript">
    /*<![CDATA[*/
    var APP = {
        route: {
            mapUrl: null,
            wayPoints: []
        },
        currentPage: null
    };

    function nextPage() {
        setOrderPage(APP.currentPage + 1);
    }

    function prevPage() {
        setOrderPage(APP.currentPage - 1);
    }

    function setOrderPage(orderNum) {
        var orderCount = APP.route.wayPoints.length;
        if (orderNum > orderCount || orderNum < 0) {
            return;
        }
        var order = APP.route.wayPoints[orderNum - 1].order;
        var status = APP.route.wayPoints[orderNum - 1].status;

        var orderNumberEl = document.getElementById("order-number");
        if (!status) {
            orderNumberEl.textContent = "Order: " + orderNum + "/" + orderCount;
            document.getElementById('btn-confirm').removeAttribute("disabled");
            document.getElementById('btn-cancel').removeAttribute("disabled");
        } else {
            orderNumberEl.textContent = "Order: " + orderNum + "/" + orderCount + "(" + status + ")";
            document.getElementById('btn-confirm').setAttribute("disabled", "disabled");
            document.getElementById('btn-cancel').setAttribute("disabled", "disabled");
        }

        var prevPageEl = orderNumberEl.parentElement.previousElementSibling;
        prevPageEl.classList.remove("non-visible");
        if (orderNum === 1) {
            prevPageEl.firstElementChild.classList.add("end-page");
        } else {
            prevPageEl.firstElementChild.classList.remove("end-page");
        }

        var nextPageEl = orderNumberEl.parentElement.nextElementSibling;
        nextPageEl.classList.remove("non-visible");
        if (orderNum === orderCount) {
            nextPageEl.firstElementChild.classList.add("end-page");
        } else {
            nextPageEl.firstElementChild.classList.remove("end-page");
        }

        document.getElementById("address").textContent = order.receiverAddress.name;
        document.getElementById("contact").textContent = order.receiverContact.firstName + " " + order.receiverContact.lastName;
        document.getElementById("phone").textContent = order.receiverContact.phoneNumber;
        document.getElementById("order-id").textContent = order.id;
        document.getElementById("order-type").textContent = order.orderType;

        APP.currentPage = orderNum - 1;
    }

    function confirmOrder() {
        var orderId = APP.route.wayPoints[APP.currentPage].order.id;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/courier/route/orders/" + orderId + "/confirm");
        xhr.onreadystatechange = function () {
            if (xhr.readyState !== XMLHttpRequest.DONE) return;
            if (xhr.status === 200) {
                APP.wayPoints[orderId].status = "completed";
            }
        };
        xhr.send();
    }

    function cancelOrder() {
        var orderId = APP.route.wayPoints[APP.currentPage].order.id;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/courier/route/orders/" + orderId + "/fail");
        xhr.onreadystatechange = function () {
            if (xhr.readyState !== XMLHttpRequest.DONE) return;
            if (xhr.status === 200) {
                APP.wayPoints[orderId].status = "cancelled";
            }
        };
        xhr.send();
    }

    document.getElementById('courier_route').className = 'active';
    document.getElementById('prev-order').addEventListener('click', function (ev) {
        ev.preventDefault();
        prevPage();
    });
    document.getElementById('next-order').addEventListener('click', function (ev) {
        ev.preventDefault();
        prevPage();
    });
    document.getElementById('btn-confirm').addEventListener('click', function (ev) {
        confirmOrder();
        setOrderPage(APP.currentPage);
    });
    document.getElementById('btn-cancel').addEventListener('click', function (ev) {
        cancelOrder();
        setOrderPage(APP.currentPage);
    });

    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/courier/route/orders");
    xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            try {
                APP.route = JSON.parse(xhr.responseText);
            } catch (e) {
                document.getElementById("order-number").textContent = "No orders for now!";
                document.getElementById("address").textContent = "";
                document.getElementById("contact").textContent = "";
                document.getElementById("phone").textContent = "";
                document.getElementById("order-id").textContent = "";
                document.getElementById("order-type").textContent = "";

                document.getElementById('btn-cancel').style.display = "none";
                document.getElementById('btn-confirm').style.display = "none";
            }
            if (APP.route.wayPoints.length > 0) {
                setOrderPage(1);
            }
        }
    };
    xhr.send();
    /*]]>*/
</script>

</body>
</html>