<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/left_menu.css}" type="text/css" href="../static/css/left_menu.css" />
    <link rel="stylesheet" th:href="@{/css/paginator.css}" type="text/css" href="../static/css/paginator.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />

    <script th:src="@{/js/forms.js}" src="../../static/js/forms.js"></script>
</head>
<body>

<div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">

                <h1 style="text-align:center"> Order statistics </h1>

                <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">

                    <div class="well">
                        <h3 align="center">Search Filters</h3>
                        <form method="post" class="form-horizontal" th:object="${searchFormOrderStatistic}">

                            <!--<div class="form-group">-->
                                <!--<label for="select-interval">Choose range</label>-->
                                <!--<select class="form-control" id="select-interval" onchange="showChosenRangeInputs()">-->
                                    <!--<option value="year">Year</option>-->
                                    <!--<option value="month">Month</option>-->
                                    <!--<option value="interval">Interval</option>-->
                                    <!--<option value="all">All time</option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <!--<div style="display: block" class="form-group" id="select-year-block">-->
                                <!--<label for="select-year">Choose year</label>-->
                                <!--<select class="form-control" id="select-year"-->
                                        <!--th:field="*{year}">-->
                                    <!--<option th:value="${2017}">2017</option>-->
                                    <!--<option  th:value="${2019}">2018</option>-->
                                    <!--<option th:value="${2019}">2019</option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <!--<div style="display: none" class="form-group" id="select-month-block">-->
                                <!--<label for="select-month">Choose month</label>-->
                                <!--<select class="form-control" id="select-month"-->
                                        <!--th:field="*{month}">-->
                                    <!--<option th:value="${1}">january</option>-->
                                    <!--<option th:value="${2}">february</option>-->
                                    <!--<option th:value="${3}">december</option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <div class="form-group">
                                <label for="destination_typeIds" class="control-label">Destination type</label>
                                <br/>
                                <select id="destination_typeIds" multiple="multiple"
                                        th:field="*{destination_typeIds}">
                                    <option th:each="orderType: ${destination_typeOrders}"
                                            th:value="${orderType.id}"
                                            th:text="${{orderType}}">Order Type</option>
                                </select>
                            </div>

                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('from')}? 'has-error'">
                                <label class="control-label">Registration date interval</label>
                                <div class="form-inline">
                                    <input class="form-control" id="from-date" title="From"
                                           pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" placeholder="yyyy-mm-dd"
                                           th:field="*{{from}}" oninput="onSearchDateClick(this)"/>
                                    <input class="form-control" id="to-date" title="To"
                                           pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" placeholder="yyyy-mm-dd"
                                           th:field="*{{to}}" oninput="onSearchDateClick(this)"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="order_statusIds" class="control-label">Order status</label>
                                <br/>
                                <select id="order_statusIds" multiple="multiple"
                                        th:field="*{order_statusIds}">
                                    <option th:each="orderStatus: ${status_OrdersList}"
                                            th:value="${orderStatus.id}"
                                            th:text="${{orderStatus.name}}">Order status</option>
                                </select>
                            </div>

                            <button class="btn btn-primary">
                                Search
                            </button>
                        </form>
                    </div>


                    <div class="table-responsive">
                        <h2 >Date range:</h2> <label  th:text="${{fromDate}}"></label> <label th:text="${{toDate}}"></label>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Receiver contact</th>
                                <th>Sender contact</th>
                                <th>Order type</th>
                                <th>Estimated delivery time</th>
                                <th>Employee id</th>
                                <th>Handler employee name</th>
                                <th>Role</th>


                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="statistic_task, iter : ${personList}">
                                <td th:text="${iter.index + 1}"></td>
                                <td th:text="${statistic_task.order.receiverContact}"></td>
                                <td th:text="${statistic_task.order.senderContact}"></td>
                                <td th:text="${statistic_task.order.orderType}"></td>
                                <td th:text="${statistic_task.order.deliveryTime}"></td>
                                <td th:text="${statistic_task.person.id}"></td>
                                <td th:text="${statistic_task.person.userName}"></td>
                                <td th:text="${statistic_task.person.roles}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <h5>Count orders</h5>
                        <label th:text="${countOrdersBetweenDate}"></label>
                        <h2>Total orders:</h2>
                        <label th:text="${countOrder}"></label>
                    </div>
                    <!-- For interval -->

                    <!-- For all time -->


                </div>

            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/left_menu :: left-menu-footer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<script>
    function showChosenRangeInputs(){

        var selectValue = document.getElementById('select-interval').value;

        if(selectValue === "year"){
            document.getElementById('select-year-block').style.display = "block";
            document.getElementById('select-month-block').style.display = "none";
            document.getElementById('select-interval-block').style.display = "none";
        } else if(selectValue === "month"){
            document.getElementById('select-year-block').style.display = "block";
            document.getElementById('select-month-block').style.display = "block";
            document.getElementById('select-interval-block').style.display = "none";
        } else if(selectValue === "interval"){
            document.getElementById('select-year-block').style.display = "none";
            document.getElementById('select-month-block').style.display = "none";
            document.getElementById('select-interval-block').style.display = "block";
        } else {
            document.getElementById('select-year-block').style.display = "none";
            document.getElementById('select-month-block').style.display = "none";
            document.getElementById('select-interval-block').style.display = "block";
        }
    }

    createDatePicker("#from-date");
    createDatePicker("#to-date");
</script>

</body>
</html>