<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/left_menu.css}" type="text/css" href="../../static/css/left_menu.css" />
    <link rel="stylesheet" th:href="@{/css/main_content.css}" type="text/css" href="../static/css/main_content.css" />
    <link rel="stylesheet" th:href="@{/css/well.css}" type="text/css" href="../static/css/well.css" />
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css" href="../static/css/table.css" />
    <link rel="stylesheet" th:href="@{/css/paginator.css}" type="text/css" href="../static/css/paginator.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />

    <script th:src="@{/js/forms.js}" src="../../static/js/forms.js"></script>

</head>
<body class="body-color">

<div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">

                    <h1>Order Statistics</h1>

                    <div class="well">
                        <h3 class="caption">Search Criteria</h3>

                        <form method="post" class="form-horizontal"
                              th:object="${searchFormOrderStatistic}">

                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">


                                    <div class="form-group">
                                        <label for="destination_typeIds" class="control-label">Order type</label>
                                        <br/>
                                        <select id="destination_typeIds" multiple="multiple" class="selectpicker"
                                                th:field="*{destination_typeIds}">
                                            <option th:each="orderType: ${destination_typeOrders}"
                                                    th:value="${orderType.id}"
                                                    th:text="${{orderType}}">Order Type</option>
                                        </select>
                                    </div>

                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('from')}? 'has-error'">
                                        <label class="control-label">Registration date interval</label>
                                        <div class="form-inline">
                                            <input class="form-control" id="from-date" title="From"
                                                   pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" placeholder="yyyy-mm-dd"
                                                   th:field="*{{from}}" oninput="onSearchDateClick(this)"/>
                                            <input class="form-control" id="to-date" title="To"
                                                   pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" placeholder="yyyy-mm-dd"
                                                   th:field="*{{to}}" oninput="onSearchDateClick(this)"/>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label for="order_statusIds" class="control-label">Order status</label>
                                        <br/>
                                        <select id="order_statusIds" multiple="multiple" class="selectpicker"
                                                th:field="*{order_statusIds}">
                                            <option th:each="orderStatus: ${status_OrdersList}"
                                                    th:value="${orderStatus.id}"
                                                    th:text="${{orderStatus.name}}">Order status</option>
                                        </select>
                                    </div>




                                    <div class="form-group">
                                        <button class="btn btn-primary">
                                            <a href="#" class="glyphicon glyphicon-search"></a>
                                            Search
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>


                    <div class="table-responsive">
                        <h2 >Date range:</h2> <label  th:text="${{fromDate}}"></label> <label th:text="${{toDate}}"></label>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Receiver contact</th>
                                <th>Sender contact</th>
                                <th>Order type</th>
                                <th>Employee id</th>
                                <th>Handler employee name</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="statistic_task, iter : ${personList}">
                                <td th:text="${iter.index + 1}"></td>
                                <td th:text="${statistic_task.order.id}"></td>
                                <td th:text="${statistic_task.order.receiverContact}"></td>
                                <td th:text="${statistic_task.order.senderContact}"></td>
                                <td th:text="${statistic_task.order.orderType}"></td>
                                <td th:text="${statistic_task.person.id}"></td>
                                <td th:text="${statistic_task.person.userName}"></td>
                                <td th:text="${statistic_task.person.roles}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <h5>Count orders</h5>
                        <label th:text="${countOrdersBetweenDate}"></label>
                        <h2>Total orders:</h2>
                        <label th:text="${countOrder}"></label>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/left_menu :: left-menu-footer" />


<script type="text/javascript">
    document.getElementById('personList').className = 'active';
    createMultiSelect("#orderType", true);
    createDatePicker(".input-daterange");
</script>

<script type="text/javascript">
    document.getElementById('personList').className = 'active';
    createMultiSelect("#orderStatus.name", true);
    createDatePicker(".input-daterange");
</script>

<script>
    createDatePicker("#from-date");
    createDatePicker("#to-date");
</script>

</body>
</html>