<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/left_menu.css}" type="text/css" href="../static/css/left_menu.css" />
    <link rel="stylesheet" th:href="@{/css/paginator.css}" type="text/css" href="../static/css/paginator.css" />


</head>
<body>

<div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">

                <h1 style="text-align:center"> Employee statistics </h1>

                <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">

                    <div class="form-group">
                        <label for="selectEmployee">Select list:</label>
                        <select class="form-control" id="selectEmployee" onchange="showCourierMove()">
                            <option value="couriers" id="couriers">Couriers</option>	<!-- First, Last name; Work Day; Car or foot or Any -->
                            <option value="call-center-agents" id="call-center-agents">Call center agents</option> <!-- First, Last name -->
                        </select>
                    </div>

                    <div class="form-group" style="display:block" id="radio-courier-move">
                        <label class="radio-inline"><input type="radio" name="optradio" />Car</label>
                        <label class="radio-inline"><input type="radio" name="optradio" />On foot</label>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Phone</th>
                                <th>Move</th>
                                <th>Registration date</th>
                                <th>Orders handled</th>
                                <th>Usefulness</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>First Last</td>
                                <td>mail@gmail.com</td>
                                <td>+380777777777</td>
                                <td>Car</td>
                                <td>2018-03-02</td>
                                <td>252</td>
                                <td>32</td>
                                <td>
                                    <a href="#">More</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/left_menu :: left-menu-footer" />

<script>
    function showCourierMove(){
        if(document.getElementById('selectEmployee').value === "couriers"){
            document.getElementById('radio-courier-move').style.display = "block";
        } else{
            document.getElementById('radio-courier-move').style.display = "none";
        }
    }
</script>

</body>
</html>