<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/left_menu.css}" type="text/css" href="../static/css/left_menu.css" />
    <link rel="stylesheet" th:href="@{/css/main_content.css}" type="text/css" href="../static/css/main_content.css" />

</head>
<body class="body-color">

<div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">

                    <h1>Common Statistics</h1>

                    <h2>Employees:</h2><label>100</label>
                    <h5>Admins:</h5><label>20</label>
                    <h5>Couriers:</h5><label>40</label>
                    <h5>On car:</h5><label>15</label>
                    <h5>On foot:</h5><label>25</label>
                    <h5>Call center agents:</h5><label>30</label>
                    <h5>Managers:</h5><label>10</label>

                    <h2>Clients:</h2><label>200</label>
                    <h5>Normal:</h5><label>150</label>
                    <h5>Vip:</h5><label>50</label>
                    <h5>Unregistered contacts:</h5><label>500</label>

                    <h2>Offices:</h2><label>20</label>

                    <h2>Orders:</h2><label>1000</label>
                    <h5>From office:</h5><label>600</label>
                    <h5>Hand to hand:</h5><label>400</label>

                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/left_menu :: left-menu-footer" />

</body>
</html>