<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header-bootstrap-config"/>
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE"/>
    <th:block th:replace="fragments/header :: header-bootstrap-widgets" />

    <title>Create new order</title>

    <link rel="stylesheet" th:href="@{/css/left_menu.css}" type="text/css" href="/static/css/left_menu.css"/>
    <link rel="stylesheet" th:href="@{/css/main_content.css}" type="text/css" href="/static/css/main_content.css" />
    <link rel="stylesheet" th:href="@{/css/well.css}" type="text/css" href="/static/css/well.css" />
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css" href="/static/css/table.css" />

    <script th:src="@{/js/forms.js}"></script>
    <script th:src="@{/js/websocket.js}"></script>
    <style>
    #order-size input {
        margin-bottom: 5px;
        margin-right: 5px;
    }
    </style>
</head>
<body class="body-color">
<div class="row">
    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">

                    <h1>Order</h1>

                    <div class="well">
                        <h3 class="caption" th:if="${param.drafted == null}">New</h3>
                        <h3 class="caption" th:if="${param.drafted != null}">From Draft</h3>

                        <form class="form-horizontal" id="form-order"
                              th:method="post"
                              th:object="${order}">

                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">Cargo Details</div>
                                        <div class="panel-body">
                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div class="form-group required"
                                                     th:classappend="${#fields.hasErrors('orderType')}? 'has-error'">
                                                    <label for="order-type" class="control-label">Order Type</label>
                                                    <select id="order-type" class="form-control selectpicker"
                                                            onchange="clearErrorStyles(this)"
                                                            th:field="*{{orderType}}">
                                                        <option th:each="type: ${orderTypes}"
                                                                th:value="${type.id}"
                                                                th:text="${{type}}">
                                                            Order Type
                                                        </option>
                                                    </select>
                                                    <div class="has-error help-block"
                                                         th:errors="*{orderType}">
                                                    </div>
                                                </div>

                                                <div class="form-group" id="order-weight" style="display: none"
                                                     th:classappend="${#fields.hasErrors('weight')}? 'has-error'">
                                                    <label for="weight" class="control-label">Weight (kg)</label>
                                                    <input id="weight" class="form-control" oninput="clearErrorStyles(this)"
                                                           pattern="\d{1,}(.\d{1,})*" title="Decimal value representing order weight"
                                                           required="required"
                                                           th:field="*{weight}"/>
                                                    <div class="has-error help-block"
                                                         th:errors="*{weight}">
                                                    </div>
                                                </div>

                                                <div class="form-group" id="order-size" style="display: none"
                                                     th:classappend="${#fields.hasErrors('width') || #fields.hasErrors('height') || #fields.hasErrors('length')}? 'has-error'">
                                                    <label class="control-label">Size (cm)</label>
                                                    <div class="form-inline">
                                                        <input type="number" id="width" class="form-control" placeholder="Width"
                                                               title="Width" min="1"
                                                               oninput="clearErrorStyles(this)"
                                                               required="required"
                                                               th:field="*{width}"/>
                                                        <input type="number" id="height" class="form-control" placeholder="Height"
                                                               title="Height" min="1"
                                                               oninput="clearErrorStyles(this)"
                                                               required="required"
                                                               th:field="*{height}"/>
                                                        <input type="number" id="length" class="form-control" placeholder="Length"
                                                               title="Length" min="1"
                                                               required="required"
                                                               oninput="clearErrorStyles(this)"
                                                               th:field="*{length}"/>
                                                    </div>
                                                    <div class="has-error help-block"
                                                         th:errors="*{width}">
                                                    </div>
                                                    <div class="has-error help-block"
                                                         th:errors="*{height}">
                                                    </div>
                                                    <div class="has-error help-block"
                                                         th:errors="*{length}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">Route</div>
                                        <div class="panel-body">
                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div class="form-group required"
                                                     th:classappend="${#fields.hasErrors('senderAddress')}? 'has-error'">
                                                    <label for="receiver-address" class="control-label">Sender Address</label>
                                                    <input type="text" id="receiver-address" class="form-control"
                                                           required="required"
                                                           oninput="clearErrorStyles(this)"
                                                           th:field="*{senderAddress.name}"/>
                                                    <div class="has-error help-block"
                                                         th:errors="*{senderAddress}">
                                                    </div>
                                                </div>

                                                <div class="form-group required"
                                                     th:classappend="${#fields.hasErrors('receiverAddress')}? 'has-error'">
                                                    <label for="sender-address" class="control-label">Receiver Address</label>
                                                    <input type="text" id="sender-address" class="form-control"
                                                           required="required"
                                                           oninput="clearErrorStyles(this)"
                                                           th:field="*{receiverAddress.name}"/>
                                                    <div class="has-error help-block"
                                                         th:errors="*{receiverAddress}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">Receiver Contact Data</div>
                                        <div class="panel-body">
                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div class="form-group required"
                                                     th:classappend="${#fields.hasErrors('receiverContact.firstName')}? 'has-error'">
                                                    <label for="firstName" class="control-label">First Name</label>
                                                    <input type="text" class="form-control" id="firstName"
                                                           required="required" minlength="1" maxlength="45"
                                                           oninput="clearErrorStyles(this)"
                                                           th:field="*{receiverContact.firstName}"/>
                                                    <div class="has-error help-block"
                                                         th:errors="*{receiverContact.firstName}">
                                                    </div>
                                                </div>

                                                <div class="form-group required"
                                                     th:classappend="${#fields.hasErrors('receiverContact.lastName')}? 'has-error'">
                                                    <label for="lastName" class="control-label">Last Name</label>
                                                    <input type="text" class="form-control" id="lastName"
                                                           required="required" minlength="1" maxlength="45"
                                                           oninput="clearErrorStyles(this)"
                                                           th:field="*{receiverContact.lastName}"/>
                                                    <div class="has-error help-block"
                                                         th:errors="*{receiverContact.lastName}">
                                                    </div>
                                                </div>

                                                <div class="form-group required"
                                                     th:classappend="${#fields.hasErrors('receiverContact.email')}? 'has-error'">
                                                    <label for="email" class="control-label">E-mail</label>
                                                    <input type="email" class="form-control" id="email" placeholder=""
                                                           required="required" maxlength="254"
                                                           oninput="clearErrorStyles(this)"
                                                           th:field="*{receiverContact.email}"/>
                                                    <div class="has-error help-block"
                                                         th:errors="*{receiverContact.email}">
                                                    </div>
                                                </div>

                                                <div class="form-group required"
                                                     th:classappend="${#fields.hasErrors('receiverContact.phoneNumber')}? 'has-error'">
                                                    <label for="phone" class="control-label">Phone</label>
                                                    <input type="text" class="form-control" id="phone"
                                                           minlength="9" maxlength="15"
                                                           required="required" pattern="(\+380)*([\-\s]*\d[\-\s]*){9}" title="9 digit phone number without country code"
                                                           oninput="clearErrorStyles(this)"
                                                           th:field="*{receiverContact.phoneNumber}"/>
                                                    <div class="has-error help-block"
                                                         th:errors="*{receiverContact.phoneNumber}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" th:if="${param.drafted == null}">
                                        <button class="btn btn-success" th:formaction="@{/user/order}">Confirm</button>
                                        <button class="btn btn-info" id="btn-draft" th:formaction="@{/user/order/draft}">Draft</button>
                                    </div>

                                    <div class="form-group" th:if="${param.drafted != null}">
                                        <input type="hidden" name="drafted" value="true" />
                                        <input type="hidden" name="id" th:value="${order.id}" />
                                        <button class="btn btn-success" th:formaction="@{/user/order}">Confirm</button>
                                        <button id="btn-delete" class="btn btn-danger" th:formaction="@{/user/order/delete}">Delete</button>
                                        <button class="btn btn-info" id="btn-draft" th:formaction="@{/user/order/draft}">Draft</button>
                                        <script>
                                            var form = document.getElementById("form-order");
                                            document.getElementById("btn-delete").addEventListener('click', function() {
                                                form.setAttribute("novalidate", "novalidate");
                                            })
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/left_menu :: left-menu-footer"/>

<script type="text/javascript">
    document.getElementById('user_create_new_order').className = 'active';
    var orderSizeElement = document.getElementById('order-size');
    var orderWeightElement = document.getElementById('order-weight');
    var orderDetailsParent = orderSizeElement.parentElement;

    var orderTypeSelect = document.getElementById('order-type');
    orderTypeSelect.addEventListener("change", function (ev) {
        var orderType = orderTypeSelect.options[orderTypeSelect.selectedIndex].label;
        if (orderType === "Documents") {
            orderDetailsParent.removeChild(orderWeightElement);
            orderDetailsParent.removeChild(orderSizeElement);
        } else {
            orderDetailsParent.appendChild(orderWeightElement);
            orderDetailsParent.appendChild(orderSizeElement);
        }
    });
    orderTypeSelect.dispatchEvent(new Event("change"));
    orderWeightElement.style.display = "block";
    orderSizeElement.style.display = "block";
    var form = document.getElementById("form-order");
    var draftButton = document.getElementById("btn-draft");
    draftButton.addEventListener(
        "click", function() {
            form.setAttribute("novalidate", "novalidate");
        }
    )
</script>

</body>
</html>