<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header-bootstrap-config" />
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />
    <link rel="stylesheet" th:href="@{/css/left_menu.css}" type="text/css" href="../../static/css/left_menu.css" />
    <script th:src="@{/js/forms.js}" src="../../static/js/forms.js"></script>
</head>
<body>

<div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <h1 style="text-align:center"> My Orders </h1>

                <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                    <div class="well">
                        <h3 align="center">Search Filters</h3>

                        <form method="post" class="form-horizontal"   th:object="${searchFormOrder}">

                            <div class="form-group">
                                <label for="first-name" class="control-label">First Name</label>
                                <input type="text" class="form-control" id="first-name"
                                       th:field="*{firstName}"/>
                            </div>

                            <div class="form-group">
                                <label for="last-name" class="control-label">Last Name</label>
                                <input type="text" class="form-control" id="last-name"
                                       th:field="*{lastName}"/>
                            </div>


                            <div class="form-group">
                                <label for="destination_typeIds" class="control-label">Destination type</label>
                                <br/>
                                <select id="destination_typeIds" multiple="multiple"
                                        th:field="*{destination_typeIds}">
                                    <option th:each="orderType: ${destination_typeOrders}"
                                            th:value="${orderType.id}"
                                            th:text="${{orderType}}">Order Type</option>
                                </select>
                            </div>

                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('from')}? 'has-error'">
                                <label class="control-label">Registration date interval</label>
                                <div class="form-inline">
                                    <input type="date" class="form-control" id="from-date" title="From"
                                           th:field="*{{from}}" oninput="onSearchDateClick(this)"/>
                                    <input type="date" class="form-control" id="to-date" title="To"
                                           th:field="*{{to}}" oninput="onSearchDateClick(this)"/>
                                </div>
                            </div>
                            <!---->
                            <!--<div class="form-group">-->
                                <!--<label for="order_statusIds" class="control-label">Order</label>-->
                                <!--<br />-->
                                <!--<select id="order_statusIds" multiple="multiple"-->
                                        <!--th:field="*{order_statusIds}">-->
                                    <!--<option th:each="orderStatus: ${status_OrdersList}"-->
                                            <!--th:value="${orderStatus.id}"-->
                                            <!--th:text="${{orderStatus}}">Role</option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <div class="form-group">
                                <label for="order_status" class="control-label">Order status</label>
                                <select id="order_status" class="form-control">
                                    <option>Actual</option>
                                    <option>History</option>
                                    <option>Draft</option>
                                    <option>Cancelled</option>
                                    <option>Processing</option>
                                    <option>Confirmed</option>
                                    <option>Delivering</option>
                                    <option>Delivered</option>
                                    <option>All</option>
                                </select>
                            </div>

                            <button class="btn btn-primary">
                                <input type="submit" value=" Search"/>
                            </button>
                        </form>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Sender Name</th>
                                <th>Sender Address</th>
                                <th>Receiver Name</th>
                                <th>Receiver Address</th>
                                <th>Office Address</th>
                                <th>Creation Time</th>
                                <th>Delivery Time</th>
                                <th>Order Type</th>
                                <th>Order Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}">
                                <td th:text="${order.senderContact}"></td>
                                <td th:text="${order.senderAddress}"></td>
                                <td th:text="${order.receiverContact}"></td>
                                <td th:text="${order.receiverAddress}"></td>
                                <td th:text="${order.office}"></td>
                                <td th:text="${order.creationTime}"></td>
                                <td th:text="${order.deliveryTime}"></td>
                                <td th:text="${order.orderType}"></td>
                                <td th:text="${order.orderStatus}"></td>
                                <td>
                                    <a class="material-icons button delete" th:href="${'/admin/office/delete/' +order.id}">delete</a>
                                    <a class="material-icons button delete" th:href="${'/admin/office/update/' + order.id}">edit</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/left_menu :: left-menu-footer" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

<script type="text/javascript">
    document.getElementById('user_my_orders').className='active';
    createMultiSelect("#role", true);
</script>

</body>
</html>