<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Confirm email address</title>

    <th:block th:replace="fragments/header :: header-bootstrap-config"/>

    <link rel="stylesheet" th:href="@{/css/index.css}" href="../../static/css/index.css"/>
    <link rel="stylesheet" th:href="@{/css/main_content.css}" type="text/css" href="../../static/css/main_content.css"/>
    <link rel="stylesheet" th:href="@{/css/well.css}" type="text/css" href="../../static/css/well.css"/>

    <th:block th:replace="fragments/header :: header-bootstrap-config-IE"/>

    <style>
        .jumbotron {
            border-bottom: 1px solid red;
            padding: 5px;
        }

        .wrapper {
            padding-top: 50px;
        }

        .wrapper img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <div class="text-center">
        <h1>404 - Not Found</h1>
        <br/>
        <p>Looks like page you requested doesn't exist.</p>
    </div>
</div>
<div class="wrapper">
    <img src="../../static/images/404.gif" th:src="@{/images/404.gif}"
         width="300" height="300"/>
</div>
</body>
</html>