<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Confirm email address</title>

    <th:block th:replace="fragments/header :: header-bootstrap-config"/>

    <link rel="stylesheet" th:href="@{/css/index.css}" href="../../static/css/index.css"/>
    <link rel="stylesheet" th:href="@{/css/main_content.css}" type="text/css" href="../../static/css/main_content.css"/>
    <link rel="stylesheet" th:href="@{/css/well.css}" type="text/css" href="../../static/css/well.css"/>

    <th:block th:replace="fragments/header :: header-bootstrap-config-IE"/>

    <style>
        body {
            background-color: #FBFBFB;
        }

        .jumbotron {
            border-bottom: 1px solid red;
            padding: 5px;
        }

        .wrapper img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <div class="text-center">
        <h1>500 - Internal Server Error</h1>
        <br/>
        <p>Looks like you've found a bug! Our best engineers are already working on it.</p>
        <p>Try again after a couple of minutes.</p>
        <p>Right now you can enjoy watching this beautiful animation.</p>
    </div>
</div>
<div class="wrapper">
    <img src="../../static/images/500.gif" th:src="@{/images/500.gif}"
         width="320" height="320"/>
</div>
</body>
</html>