:root {
    --main-color: #5B7DAA;
    --second-color: #485d8c;
    --third-color: #363D69;
    --fourth-color: #fdfeff;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

h3{
    color: white;
}

h5{
    color: white;
}

.body-color {
    background-color: var(--main-color);
}

.body-color label{
    color: white;
}

.panel.panel-default .panel-heading{
    background-color: var(--second-color);
    color: white;
}

.panel.panel-default .panel-body{
    background-color: var(--main-color);
    color: white;
}