<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Confirm email address</title>

    <th:block th:replace="fragments/header :: header-bootstrap-config"/>

    <link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css"/>
    <link rel="stylesheet" th:href="@{/css/main_content.css}" type="text/css" href="../static/css/main_content.css"/>
    <link rel="stylesheet" th:href="@{/css/well.css}" type="text/css" href="../static/css/well.css"/>

    <th:block th:replace="fragments/header :: header-bootstrap-config-IE"/>

    <style>
        .jumbotron {
            border-bottom: 1px solid red;
        }

        a {
            color: var(--link-color);
        }

        a:hover {
            color: var(--link-hover-color);
        }
    </style>
</head>

<body class="body-color">
    <div class="jumbotron">
        <div class="text-center">
            <h1>Congratulations!</h1>
            <br />
            <p>Account is activated now!</p>
            <br />
            <p>You will be redirected to <a th:href="@{/index.html}" href="#" id="index">login</a> page after 10 seconds.</p>
        </div>
    </div>

    <script>
        function redirectToIndex() {
            var indexHref = document.getElementById("index").getAttribute("href");
            location.assign(indexHref);
        }

        setTimeout(redirectToIndex, 10000);
    </script>
</body>
</html>