<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config"/>
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE"/>

    <link rel="stylesheet" th:href="@{/css/main_content.css}" type="text/css" href="../static/css/main_content.css" />
    <link rel="stylesheet" th:href="@{/css/well.css}" type="text/css" href="../static/css/well.css" />

</head>

<body class="body-color">
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">

            <h1 class="caption">Change password</h1>

            <div class="well">
                <h3 class="caption">New password can't be equal old</h3>

                <form style="" th:object="${resetPassword}" th:action="@{'/password/reset/' + ${resetPassword.personId}}" th:method="POST">

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div class="form-group required"
                                 th:classappend="${#fields.hasErrors('newPassword')}? 'has-error'">
                                <label style="color: white;" for="newPassword" class="control-label">New password</label>
                                <input type="password" class="form-control" id="newPassword" placeholder=""
                                       required="required" minlength="6" maxlength="30"
                                       th:value="${newPassword}"
                                       th:field="*{newPassword}" />
                                <div class="has-error help-block"
                                     th:if="${#fields.hasErrors('newPassword')}"
                                     th:errors="*{newPassword}">
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="repeatNewPassword" class="control-label">Repeat new password</label>
                                <input type="password" class="form-control" id="repeatNewPassword" placeholder=""
                                       required="required" minlength="6" maxlength="30"
                                       oninput="validate(this)"
                                       th:value="${newPassword}" />
                            </div>

                            <div style = "margin-top: 3em;" class="form-group">
                                <button class="btn btn-success">Save</button>
                            </div>

                        </div>
                    </div>
            </form>

        </div>
    </div>
</div>
</div>

<div th:replace="fragments/footer :: footer">
</div>

<script>
    function validate(input) {
        if (input.value !== document.getElementById("newPassword").value) {
            input.setCustomValidity("Passwords don't match");
        } else {
            input.setCustomValidity("");
        }
    }
</script>

</body>
</html>